body{
  background-color: #370000;
}
.container{
  position: absolute;
  right: 0px;
}
.message{
  font-family: 'Poppins', sans-serif;
  font-size: 60px;
  color: white;
  font-weight: 500;
  position: relative;
  top: 230px;
  left: 30%;
}
.message2{
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: white;
  font-weight: 300;
  width: 360px;
  position: relative;
  top: 230px;
  left: 40%;
}